<h1> Imagen con Image_Tag </h1>
<%= image_tag 'seleccion_075.png', class: 'imagen', id: 'imagen-routes' %>
<h1> Imagen con etiqueta img </h1>
<img class="imagen" id="imagen-routes-2" src="/seleccion_076.png" alt="seleccion_076.png" >
